DATABASE_URL=postgresql://postgres.brnlhwbphcbyhneipwta:ojasgambheera@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres
JWT_SECRET=your-super-secret-jwt-key-here
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
ENVIRONMENT=development
FRONTEND_URL=http://localhost:5173